.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*.color{
background-color: yellow;
}*/
.openingtext{

  color: #ffffff;
}
.parag{
  text-align: center;
  display:inline-block;
  padding-left: 400px;
  padding-right: 400px;
  color:#ffffff;
}

.paragtext{
text-align:justify;
}


body {
/*  background: #fafafa;*/
/*background: url("film.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;  
background-size: cover;*/
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
/*  color: #333;*/
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
}

.brand-logo{
  font-family: "Savoye LET", serif;
  margin-left: 40px;
}

/*fullpage.js styling*/
#fullpage { position: fixed; overflow: automatic; }
/*makes sure sidebar is clickable*/
#sidenav-overlay {z-index: 90}
/*keeps navbar with page*/
#nav { position: fixed;
top: 0;
left: 0;
display: block;
z-index: 99;
}
/*stylesheets for sections*/
#sa, #sc, #se { background: black; }
#sb, #sd, #sf { background: black; }




/*css-grain-or-film-effect*/
body {background: black;}
.grain {
  width: 400px;
  height: 300px;
  display: block;
  overflow: hidden;
  margin: 3em auto;
  position: relative;
  transition: all 0.5s ease-out 0s;
}
.grain img {
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: inherit !important;
}
.grain:hover,.grain:hover:after {
  transform: scale(1.3);
  background: transparent !important;
  box-shadow: 0 0 3px #333;
}
.grain > * {
  z-index: 2;
}
.grain:after {
  background: url("//3.bp.blogspot.com/-VIcdc6-UELg/V2Trt4CWVWI/AAAAAAAAIhI/lqCVm0dgFs4X3r8j4CTHLlG070KHI7tWACLcB/s1600/");
  content: "";
  left: -100%;
  top: -103%;
  width: 300%;
  height: 300%;
  z-index: 1;
  display: block;
  position: absolute;
  animation: grain .5s steps(1) infinite;
  -webkit-animation: grain .5s steps(1) infinite;
}
.grain span {
  color: #ed1c24;
  display: block;
  font-family: initial;
  letter-spacing: 1px;
  line-height: 10px;
  position: relative;
  text-align: center;
  bottom: 25px;
  text-align: center;
  /*text-shadow: 0 3px 1px rgba(0, 0, 0, 0.4);  */
}
.outer-scratch, .inner-scratch {
  height: inherit;
}
.outer-scratch:after, .inner-scratch:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .09;
  position: absolute;
  padding-left: 100px;
  animation: scratch 0.55s steps(1) infinite;
  -webkit-animation: scratch 0.55s steps(1) infinite;  
  background: url("//1.bp.blogspot.com/-DyYX7TQ0lmg/V2Tru0GZTaI/AAAAAAAAIhQ/VjGVHqdV7TUq9tAVdVWyrjMM_1fbDjqowCLcB") repeat center center;  
}
.inner-scratch:after {
  left: 30%;
  animation: inner-scratch 2s infinite;
  -webkit-animation: inner-scratch 2s infinite;  
}
@keyframes grain{0%,100%{-moz-transform:translate(0,0);-ms-transform:translate(0,0);-webkit-transform:translate(0,0);transform:translate(0,0)}10%{-moz-transform:translate(-5%,-10%);-ms-transform:translate(-5%,-10%);-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-moz-transform:translate(-15%,5%);-ms-transform:translate(-15%,5%);-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-moz-transform:translate(7%,-25%);-ms-transform:translate(7%,-25%);-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-moz-transform:translate(-5%,25%);-ms-transform:translate(-5%,25%);-webkit-transform:translate(-5%,25%);transform:translate(-5%,25%)}50%{-moz-transform:translate(-15%,10%);-ms-transform:translate(-15%,10%);-webkit-transform:translate(-15%,10%);transform:translate(-15%,10%)}60%{-moz-transform:translate(15%,0%);-ms-transform:translate(15%,0%);-webkit-transform:translate(15%,0%);transform:translate(15%,0%)}70%{-moz-transform:translate(0%,15%);-ms-transform:translate(0%,15%);-webkit-transform:translate(0%,15%);transform:translate(0%,15%)}80%{-moz-transform:translate(3%,35%);-ms-transform:translate(3%,35%);-webkit-transform:translate(3%,35%);transform:translate(3%,35%)}90%{-moz-transform:translate(-10%,10%);-ms-transform:translate(-10%,10%);-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}
@keyframes scratch{0%,100%{transform:translateX(0);opacity:0.075}10%{transform:translateX(-1%)}20%{transform:translateX(1%)}30%{transform:translateX(-2%);opacity:0.09}40%{transform:translateX(3%)}50%{transform:translateX(-3%);opacity:0.05}60%{transform:translateX(8%)}70%{transform:translateX(-3%)}80%{transform:translateX(10%);opacity:0.02}90%{transform:translateX(-2%)}}
@keyframes inner-scratch{0%{transform:translateX(0);opacity:0.08}10%{transform:translateX(-1%)}20%{transform:translateX(1%)}30%{transform:translateX(-2%)}40%{transform:translateX(3%)}50%{transform:translateX(-3%);opacity:0.06}60%{transform:translateX(8%)}70%{transform:translateX(-3%)}80%{transform:translateX(10%);opacity:0.03}90%{transform:translateX(20%)}100%{transform:translateX(30%)}}


/*SPOOKY EFFECT*/
body {
  background-color: black;
  overflow: hidden;
  margin: 0;
}

.title{
  margin-top:0;
 margin:center;
 margin-left:30px;

 color: white;
}

.bg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background-image: url(https://il2.picdn.net/shutterstock/videos/4153015/thumb/1.jpg);
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  animation: shift 1s reverse infinite linear;
}

.bg::before {
  content: "";
  position: absolute;
  width: 610px;
  height: 400px;
  background-image: url(https://il2.picdn.net/shutterstock/videos/4153015/thumb/1.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
  animation: shift 1.5s infinite linear;
}

.frame {
  position: absolute;
  margin: auto;
  top:0; bottom:0; right:0; left:0;
  width: 550px;
  height: 400px;
  border: black solid 100px;
}


@keyframes shift {
  0% {
    padding-left: -15px;
  }
  10% {
    padding-left: -10px;
  }
  20% {
    padding-left: 15px;
  }
  30% {
    padding-left: -10px;
  }
  40% {
    padding-left: 20px;
  }
  50% {
    padding-left: 0px;
  }
}



/*COUNT DOWN*/
.rectangle01{
  fill: gray;
  stroke: #655;
  stroke-width:1;
}
.number {
  font-size: 80px;
  fill: #222;
  opacity: 0;
}
.circle01, .circle02 {
  fill: none;
  stroke-width: 1px;
  stroke: black;
}
.circle03 {
  fill: none;
  stroke: rgba(0,0,0,0.3);
  stroke-width:989;
  stroke-dasharray: 1 3200;
}
.line01, .line02 {
  stroke-width: 1px;
  stroke: #deedee;
}
/*********************************** END RADIO DIAL  ***********************************/
.animatedRotate{
  animation: Rotate 1s 5;
}
.animatedFlicker {
  opacity: 0.2;
  animation: flicker 5s 1;
}
.animatedText1 {
  animation: countdown 1s 1;
  animation-delay: 0s;
}
.animatedText2 {
  animation: countdown 1s 1;
  animation-delay: 1s;
}
.animatedText3 {
  animation: countdown 1s 1;
  animation-delay: 2s;
}
.animatedText4 {
  animation: countdown 1s 1;
  animation-delay: 3s;
}
.animatedText5 {
  animation: countdown 1s 1;
  animation-delay: 4s;
}
@keyframes Rotate {
  0% {

  }
  20% {

  }
  40% {

  }
  60% {

  }
  80% {

  }
  100% {
     stroke-dasharray: 3200 0;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.7;
  }
  23% {
    opacity: 0.85;
  }
  30% {
    opacity: 0.2;
  }
  41% {
    opacity: 0.6;
  }
  46% {
    opacity: 0.8;
  }
  53% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.6;
  }
  100% {
     opacity: 0.1;
  }
}
@keyframes countdown {
  0% {
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/*film strip*/
body{
    background-color: #f1f1f1;
}

.wrapper{
    background-color: #333;
    height: 250px;
    width: 1266px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.box{
    width: 310px;
    height: 100%;
    display: inline-block;
    margin: auto;
    overflow: hidden;
    
}
.boxes{
    width: 100%;
    height: 40px;
}
.small_box{
    margin: 0;
    background-color: #fff;
    display: inline-block;
    width: 26px;
    height: 20px;
    margin: 10px 10px 10px 10.81px;
}


.center_box1{
    width: 90%;
    height: 170px;
    background: url(https://cdn.pastemagazine.com/www/blogs/lists/2012/11/05/hitchcock.jpg) center center no-repeat;
    margin: auto;
    cursor: pointer;
    transition: opacity 0.2s linear;
    transition: transform 0.3s linear;
    animation: load 1s linear;
}

.center_box2{
    width: 90%;
    height: 170px;
    background: url(http://vogueent.com/news/wp-content/uploads/2012/02/Charlie-Chaplin_dl.jpg) center center no-repeat;
    margin: auto;
    cursor: pointer;
    transition: opacity 0.2s linear;
    transition: transform 0.3s linear;
    animation: load 1s linear;
}.center_box3{
    width: 90%;
    height: 170px;
    background: url(https://s-media-cache-ak0.pinimg.com/236x/37/b5/e6/37b5e66e3c9252805800c353a0ba5e55.jpg) center center no-repeat;
    margin: auto;
    cursor: pointer;
    transition: opacity 0.2s linear;
    transition: transform 0.3s linear;
    animation: load 1s linear;
}.center_box4{
    width: 90%;
    height: 170px;
    background: url(http://www.filmofilia.com/wp-content/uploads/2008/06/ridley.jpg) center center no-repeat;
    margin: auto;
    cursor: pointer;
    transition: opacity 0.2s linear;
    transition: transform 0.3s linear;
    animation: load 1s linear;
}

.center_box:hover{
    transform: scale(0.95);
    opacity: 0.75;
}

@keyframes load{
    from{transform: scale(0);}
}

/*thumbnail background #1*/
.thumb1 {
  width: 400px;
  height: 300px;
  margin: 70px auto;
  perspective: 1000px;
}
.thumb1 a {
  display: block;
  width: 100%;
  height: 100%;
  /* double layered bg for light effect*/
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://az616578.vo.msecnd.net/files/2015/11/21/6358374109665761811076502701_waltdisney-mickeybg.jpg");
  /*disabling the translucent black bg on the main image*/
  background-size: 0,cover;
  /*3rd space fpr children*/
  transform-style: preserve-3d;
  /* simulating hover effects */
  transition: all .5s;
  /*bottom surface*/
  /* shadow */
}
.thumb1 a:hover {
  transform: rotateX(80deg);
  transform-origin: bottom;
}
.thumb1 a:after {
  /*36px high element positioned at the bottom of the image*/
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  /*inherit the main background */
  background: inherit;
  background-size: cover,cover;
  /* draw the background bottom up */
  background-position: bottom;
  /* rotate the surface 90 degree(negative) on bottom axis */
  transform: rotatex(90deg);
  transform-origin: bottom;
}
.thumb1 a span {
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font: bold 12px/36px;
  text-align: center;
  transform: rotatex(-89.99deg);
  transform-origin: top;
}
.thumb1 a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}
.thumb1:hover a:before {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
  /*pushing the shadow down*/
  transform: rotateX(0) translateZ(-60px) scale(0.85);
}


/*thumbnail background #2*/
.thumb2 {
  width: 400px;
  height: 300px;
  margin: 70px auto;
  perspective: 1000px;
}
.thumb2 a {
  display: block;
  width: 100%;
  height: 100%;
  /* double layered bg for light effect*/
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://upload.wikimedia.org/wikipedia/commons/8/87/Emile_Cohl.jpg");
  /*disabling the translucent black bg on the main image*/
  background-size: 0,cover;
  /*3rd space fpr children*/
  transform-style: preserve-3d;
  /* simulating hover effects */
  transition: all .5s;
  /*bottom surface*/
  /* shadow */
}
.thumb2 a:hover {
  transform: rotateX(80deg);
  transform-origin: bottom;
}
.thumb2 a:after {
  /*36px high element positioned at the bottom of the image*/
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  /*inherit the main background */
  background: inherit;
  background-size: cover,cover;
  /* draw the background bottom up */
  background-position: bottom;
  /* rotate the surface 90 degree(negative) on bottom axis */
  transform: rotatex(90deg);
  transform-origin: bottom;
}
.thumb2 a span {
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font: bold 12px/36px;
  text-align: center;
  transform: rotatex(-89.99deg);
  transform-origin: top;
}
.thumb2 a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}
.thumb2:hover a:before {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
  /*pushing the shadow down*/
  transform: rotateX(0) translateZ(-60px) scale(0.85);
}

/*thumbnail background #3*/
.thumb3 {
  width: 400px;
  height: 300px;
  margin: 70px auto;
  perspective: 1000px;
}
.thumb3 a {
  display: block;
  width: 100%;
  height: 100%;
  /* double layered bg for light effect*/
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://blog-imgs-76.fc2.com/k/o/k/kokepiyo/20150511211317c5d.jpg");
  /*disabling the translucent black bg on the main image*/
  background-size: 0,cover;
  /*3rd space fpr children*/
  transform-style: preserve-3d;
  /* simulating hover effects */
  transition: all .5s;
  /*bottom surface*/
  /* shadow */
}
.thumb3 a:hover {
  transform: rotateX(80deg);
  transform-origin: bottom;
}
.thumb3 a:after {
  /*36px high element positioned at the bottom of the image*/
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  /*inherit the main background */
  background: inherit;
  background-size: cover,cover;
  /* draw the background bottom up */
  background-position: bottom;
  /* rotate the surface 90 degree(negative) on bottom axis */
  transform: rotatex(90deg);
  transform-origin: bottom;
}
.thumb3 a span {
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font: bold 12px/36px;
  text-align: center;
  transform: rotatex(-89.99deg);
  transform-origin: top;
}
.thumb3 a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0.15;
  transform: rotateX(95deg) translateZ(-80px) scale(0.75);
  transform-origin: bottom;
}
.thumb3:hover a:before {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
  box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
  /*pushing the shadow down*/
  transform: rotateX(0) translateZ(-60px) scale(0.85);
}

.filmers{
  color: #ffffff;
  font-family: "Savoye LET", serif;
float-top: -300px;
}


/*carousel*/

@import url(http://fonts.googleapis.com/css?family=Anaheim);

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
*:before,
*:after{
  box-sizing: border-box;
}
/*html,
body{
  min-height: 100%;
}
body{
  background-image: radial-gradient(mintcream 0%, lightgray 100%);
}
h1{
  display: table;
  margin: 5% auto 0;
  text-transform: uppercase;
  font-family: 'Anaheim', sans-serif;
  font-size: 4em;
  font-weight: 400;
  text-shadow: 0 1px white, 0 2px black;
}*/
.container{
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}
#carousel{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
#carousel:hover{
  animation-play-state: paused;
}
#carousel figure{
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  background: black;
  overflow: hidden;
  border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
  -webkit-filter: grayscale(1);
  cursor: pointer;
  transition: all .5s ease;
}
img:hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}